[Desktop Entry]
Type=Application
Name=OpenTabletDriver
Comment=OpenTabletDriver Graphics Tablet Driver
Exec=/usr/bin/OpenTabletDriver
Terminal=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
Categories=System;HardwareSettings;
Icon=input-tablet
StartupNotify=false 